## 기본 문법

In [5]:
A=123
print (A) #print 안에 있는 값 출력. 안에 있는 값이 변수일 경우 변수가 가르키는 값을 출력.

123

In [4]:
for = 77
printm(for) #for는 예약어이기 때문에 변수로 지정할 경우 코드 꼬여서 에러남

SyntaxError: invalid syntax (2083724895.py, line 1)

In [30]:
n=10 # 값을 할당할 때 연산자 : =

In [31]:
n=n+1 # 기존 값을 갱신

In [32]:
# 갱신시 코드적 비효율이 있음 ( 자기 자신 갱신 )
# n= n+1
n += 1

In [33]:
print(n)

12

In [34]:
# n = n*10 
n*= 10 #곱하기도 갱신할 때

In [35]:
print(n)

120

In [36]:
# 파이썬 멀티 할당 : 코테할 때 많이 함
# 장점 : 코드가 간결함.

In [37]:
# ex) 두 변수가 값을 교환할 때 (원래 개념)
a = 10
b = 20
print (a,b)

temp = a
a = b
b = temp
print (a,b)

10 20
20 10

In [38]:
# 파이썬에서 해보면 
a= 10
b= 20
print (a,b)
a, b = b, a
print (a,b) # 쉬움
# ---> 코테할 때 자주 사용 됨. 데분에선 그닥ㅇ

10 20
20 10

### 대상을 1개로 하는지 여러개로 하는지
#### < 1개일 경우 >

    ---> 숫자(정수, 실수,), 논리(True/False, 0,1), 문자 1개 ("h","a") 

#### 여러개의 값을 대상 : 값들을 나열(값,값,값...)

    ---> 리스트 [값, 값, 값...] : 수정이 가능 (추가, 제거 등 변경 가능)

    ---> 튜플 (값, 값, 값...) : 한 번 만들면 변경이 X

    ---> 집합 {값, 값, 값...} : 중복된 값은 무조건 1개로, 유니크값 처리 자동. -> 별도로 유니크 값 체크 안하고 자료형으로 끝낼 수 있음.

    ---> Dict { 키: 값, 키: 값 } : 미니 DataBase 의 역할

    ---> SQL : RDMBS 

    -------데분에서는 메인으로 잘 안쓰지만 코테에서 중요. dict 잘쓰면 코드가 편하고 빨라짐

    -------코테에서 속도가 문제인 경우가 있음

ex) 10000000(백만개 원소가 있을 때)

    case 1) 리스트에 담을 경우  : 홍길동을 찾기 위해 리스트 다 훑어봐야 함 -> 속도 느려짐

    case 2) dict에 담을 경우 : 홍길동 키 값 (1234번)만 알면 바로 찾기 가능 : index 개념

    ---> 리스트의 원소 찾는 시간 복잡도 = O(n)

    ---> 딕셔너리에서 원소 찾는 시간 복잡도 = O(1)

In [39]:
# ex) 한 반에 3명이 있을 경우
a=60
b=70
c=80

total = a+b+c
print(total)

210

In [ ]:
# 우리반 학생이 100명으로 늘었을 때
student_1=60
student_2=70
...
# 장점 : 누가 얼마인지 바로 확인 가능
# 단점 : 변수가 많아짐.


# 그냥 반의 전체 평균, 총점,최고점 등이 관심사항이면 : 누군지 안 중요 -> 하나의 변수가 중요하지 않아짐
score = [90,80,40,...] # 리스트 형으로 표현
# 값들만 모아서 변수 1개로 만듬
# 장점 : 변수가 심플!(메모리 효율)
# 단점  : 누가 몇 점인지는 모름(정보 상실)

In [40]:
33/10

3.3

In [41]:
# 적당하게 뒤에서 반올림!
# ---> 수치 연산 중요한 모델링( 딥러닝/ ML)
# ---> 모델 성능이 제대로 안 나옴
# ---> 큰 범위의 유효숫자를 처리할 수 있는 자료형을 따로 사용 
#      numpy(nimerical python), tensor flow/PyTorch : 더 큰 자료형까지 사용일 가능

5/3

1.6666666666666667

In [42]:
#1) 계산값
print(5/3)

#2) 몫
print(5//3)

#3) 나머지
print(5%3)

1.6666666666666667
1
2

In [43]:
# 참고 : FM방법 divmod() 함수 사용하면 됨
# ---> 입력/ 무엇을 할지 / 출력
#     입력 : 기준수, 나눌 수 를 입력
#     무엇을 할지 : 나눗셈을 해서 몫, 나머지 계싼 
#     출력 : 몫, 나머지

divmod(5,3) # 5/3 몫,나머지 출력해줌

(1, 2)

In [45]:
divmod(5,3)[0] # 파이썬에서 기준은 0부터이기 때문에 첫번째 0부터 시작

1

In [48]:
# 파이썬은 멀티 할당이 있음!
q, m = divmod(5,3)
q

1

In [49]:
# 리스트
# 1) 기본 구조 [ 값, 값, 값 ...]
# 기본 기능 : 값을 추가 ( append - 맨 뒤 값 추가, insert - 중간에 꽂아 넣자 )
#          : 값을 제거 (pop - 몇 번째 값 지우자 , remove - 어느 값을 지우자. 중복될 경우 맨 앞 값을 지우자.) : 모든 값 싹 제거는 아님

In [50]:
a_list = [10,20,30,40]
a_list

[10, 20, 30, 40]

In [53]:
a_list.append(100) # 맨 끝 값만 추가돼서 리스트가 수정됨!
a_list

[10, 20, 30, 40, 100, 100, 100]

In [55]:
#파이썬은 자료형에 상관없이 모을 수 있음!
# 장점 : 대충 이질적인 것도 하나의 변수로 모아짐
# 단점 : 크게 자료형을 잡아서 핸들링을 해야함...

a_list =[1,2,11.2,"hello",[1,2,3]] 
a_list

[1, 2, 11.2, 'hello', [1, 2, 3]]

In [56]:
# 수치적인 계산에 포커스가 되는 경우에서는 
# numpy에서는 어느 정도 계싼을 위해서 동일한 자료형을 해야함
# 아니면 object 형으로 안되는 경우가 종종 있음. 자료형 다른 거끼리 모아두면 불편하다는 거임~~

In [58]:
a_list.insert(2, "a") #2번째 칸에 꽂겠다~~~ 파이썬은 0부터 시작이라 0,1,2 즉 2라고 적으면 세번째임
a_list

[1, 2, 'a', 'a', 11.2, 'hello', [1, 2, 3]]

In [59]:
a_list.pop()

[1, 2, 3]

In [60]:
a_list

[1, 2, 'a', 'a', 11.2, 'hello']

In [61]:
a_list.pop()

'hello'

In [62]:
a_list #맨 뒤에서부터 튀어나옴

[1, 2, 'a', 'a', 11.2]

In [65]:
a_list.pop(2) #원하는 위치에서부터 뺄 수도 있음

'a'

In [64]:
a_list

[1, 2, 'a', 11.2]

In [70]:
a_list.append(3)
a_list.append(3)
a_list.insert(2,3)
a_list

[1, 2, 3, 5, 11.2, 3, 3, 3, 3]

In [73]:
a_list.remove(3) # 중복일 때 맨 앞의 값을 지움

In [72]:
a_list

[1, 2, 5, 11.2, 3, 3, 3, 3]

In [76]:
a_list[0] #첫번째 = 0

1

In [77]:
a_list[1] #두번째 = 1

2

In [78]:
a_list[-1] #맨 뒤에서 첫번째 : -1

3

In [80]:
# 앞에서 3개 부를 때
a_list[0:3] #0번부터 3번 앞자리 즉, 0,1,2 번째 부름

[1, 2, 5]

In [81]:
# 슬라이싱 : 정수인덱스 자리에
# 시작점 : 끝점(빠지고)
# 여러개의 값들을 규칙적으로 접근할 때 사용

In [82]:
a_list[::] #자기 자신
a_list[::-1] #순서 역순
a_list[1::1] # 첫번째 값 빼고

[2, 5, 11.2, 3, 3, 3]

In [ ]:
#참고 ) 쌩 파이선의 리스트는 안되는 것
#      [] 인덱스 안에 여러개 리스트로 넣으면 안됨 -> numpy만 됨. array 새로운 개념 도입으로 가능
#      리스트 안에 리스`트로 슬라이싱 못함.

In [ ]:
#튜플 : (값, 값, 값)
# ---> 한 번 만들면 조작 불가능
# ---> 부르는 호출은 리스트와 동일

In [84]:
a_tuple=(1,2,3,4)

In [85]:
a_tuple[1]

2

In [86]:
a_tuple[:3]

(1, 2, 3)

In [87]:
a_tuple.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
# 문자열도 리스트처럼 사용 가능하지롱
print("hello"[1])
print("hello"[0:3])

e
hel

In [91]:
'''탐은 "나 집에 갈게" 라고 했다.'''

'탐은 "나 집에 갈게" 라고 했다.'

In [92]:
#참고) 파이썬 특별메서드
# --> 파이썬을 대충 여기 저기 해도 다 적용 가능

In [94]:
a=[1,2,3]
b=["A","B","C"]
a+b

[1, 2, 3, 'A', 'B', 'C']

In [95]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [96]:
a_list = [1234, 5678]
a_list

[1234, 5678]

In [98]:
a_list[0]

1234

In [97]:
a_dict = {"a" : 1234, "b":5678}
a_dict

{'a': 1234, 'b': 5678}

In [101]:
a_dict["a"]

1234

In [102]:
#참고) 정체 확인
type(a_list)

list

In [103]:
a_dict.keys()

dict_keys(['a', 'b'])

In [105]:
a_dict.values()

dict_values([1234, 5678])

In [106]:
#참고 : set : 유니크한 값만 남기고 다 날림
{1,1,2,2,2,3,3,5}

{1, 2, 3, 5}

In [107]:
[1,1,2,2,2,3,3,5]

[1, 1, 2, 2, 2, 3, 3, 5]

In [112]:
set([1,1,2,2,2,3,3,5]) #set으로 형변환

{1, 2, 3, 5}

In [114]:
list(set([1,1,2,2,2,3,3,5])) #list로 형변환

[1, 2, 3, 5]

In [1]:
# 조건문 if !!!!! 예외처리 꼭 신경써줄 것
# 예) 양수, 음수, 0 판별!

In [7]:
a= 0

if a>0:
    # 만족할 때 뭐할지...
    print("양수")
# 만족하지 못할 때...
elif a<0:
    # a<0 만족할 때
    print("음수")
elif a==0:
    # a==0 만족할 때
    print("0입니다")
else: #그 외 퉁 치기!
    print("얘는 양수도 아니여, 음수도 아니여, 0도 아니여~~")

0입니다

In [9]:
a= 10

if a>0: #1번 if 들어갔다 나옴
    print("양수")
if a<0: #2번 if 들어갔다 나옴
    print("음수")
if a==0: #3번 if 들어갔따 나옴
    print("0입니다")
else: #그 외 퉁 치기! #3번 if랑 연결.
    print("얘는 양수도 아니여, 음수도 아니여, 0도 아니여~~")

양수
얘는 양수도 아니여, 음수도 아니여, 0도 아니여~~

In [10]:
#파이썬 for
# --> 여러개의 값을 롤링하는 것이 기본 구조

In [11]:
#상황 : 1부터 10까지 출력 
print(1)
print(2)
print(3) #일일이 하나씩 해보기

1
2
3

In [ ]:
print(i) # i는 계속 바뀌는 변수임. 1~10까지 넣어주면 되는 거~~

In [12]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
a_list= [1,2,3,4,5,6,7,8,9,10]
for i in a_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
# 필요한 여러개의 값이 숫자일 때
# --> 파이썬에서 range(시작점, 끝점, 간격)
# 연속되거나, 규칙적인 여러 숫자들을 만들어 줄 때 사용

for i in range(1,10,1): # 끝점은 맨 마지막 값이 빠진다.
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
#대상이 리스트
a_list = ["a","b","c","d","e",20,30,"x"]
a_list

['a', 'b', 'c', 'd', 'e', 20, 30, 'x']

In [21]:
#a_list의 값을 출력해보자.
print(a_list[0])
print(a_list[1])
print(a_list[2])

a
b
c

In [22]:
# 0~4번까지 필요하다면? i가 숫자고 연속이네? 그럼 for rnage 써야지!
for i in range(0,5,1):
    print(a_list[i])

a
b
c
d
e

In [23]:
# 파이썬의 for는 값 자체로 돌릴 수 있음
for i in a_list: 
    print(i)

a
b
c
d
e
20
30
x

In [24]:
#참고)dict 를 돌리면...
a_dict = {"a": 1234, "b":5678,"c":9999}

In [25]:
for i in a_dict:
    print(i)

a
b
c

In [28]:
for i in a_dict.values():
    print(i)

1234
5678
9999

In [33]:
for k, v in a_dict.items():
    print(k,v)

a 1234
b 5678
c 9999

In [34]:
# 리스트는 인덱스, 값 으로 이루어져있음
# --> enumerate() 함수로, (index, 값 ) 반환
for i in enumerate(a_list):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 20)
(6, 30)
(7, 'x')

In [ ]:
#) 문
# 국어 80 점, 수학 75, 영어 55, 사회 90
# 이 학생의 평균을 구하는 코드를 작성하세요.

# 변수설정, 자료형, 그들간의 관계 설정해보기.

In [41]:
(80+75+55+90)/4

75.0

In [43]:
lst = [80,75,55,90]
sum(lst)/len(lst)

75.0

In [49]:
dic={"국어":80,"수학":75,"영어":55,"사회":90}
sum(dic.values())/len(dic)

75.0

In [50]:
# 굳이굳이 기능테스트용으로 해보자!^0^ len도 sum도 모른다고 가정하고!
lst = [80,75,55,90]
# 돌리면서 누적합과 카운팅해주면 됨.
s=0
count=0
for i in lst:
    s+=i
    count+=1
print(s/count)

75.0