주어진 환경에 따라서 다름!!!  
--> PC의 상황, 지금 다른 프로그램 켜져있는 상황 등...  
--> 대략적으로 체크!!!!

In [1]:
import time
import timeit
# --> 여러번 반복 수행하면서, 코드 실행시간을 체크!!

# 데이터를 합칠 때 사용하는 주된 자료형
# --> 리스트/dict + deque
#     numpy array
#     pandas DF
import pandas as pd
import numpy as np
from collections import deque

In [2]:
# DF concat 하는 방법

def df_concat(n):
    df = pd.DataFrame(columns=["A","B","C"])
    temp = pd.DataFrame.from_dict({"A":[1], "B":[11.3], "C":["abcdef"]})
    for _ in range(n):
        df = pd.concat([df, temp], ignore_index=True)
    return df

In [3]:
# 리스트 append 방법

def list_append_df(n):
    data = []
    for _ in range(n):
        data.append([1,11.3,"abcdef"])
    return pd.DataFrame(data, columns=["A","B","C"])

In [4]:
# 넘파이 방법

def np_append_df(n):
    data = np.array(np.empty((0,3), int)) # 빈배열 만들어주기
    for _ in range(n):
        data = np.append(data, np.array([[1, 11.3,"abcdef"]]), axis=0)
    return pd.DataFrame(data, columns=["A","B","C"])

In [5]:
# deque 방법

def deque_append_df(n):
    data = deque([])
    for _ in range(n):
        data.append([1,11.3,"abcdef"])
    return pd.DataFrame(data, columns=["A","B","C"])

In [6]:
# test
# 수집할 데이터가 적으면 시간상 차이가 나도, 사람이 인지할 정도는 아님

n = 10

%time df_concat(n)
%time list_append_df(n)
%time np_append_df(n)
%time deque_append_df(n)

CPU times: total: 0 ns
Wall time: 6.22 ms
CPU times: total: 0 ns
Wall time: 0 ns
CPU times: total: 0 ns
Wall time: 16.8 ms
CPU times: total: 0 ns
Wall time: 0 ns

C:\Users\NT551XCJ\AppData\Local\Temp\ipykernel_21692\838831640.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp], ignore_index=True)

   A     B       C
0  1  11.3  abcdef
1  1  11.3  abcdef
2  1  11.3  abcdef
3  1  11.3  abcdef
4  1  11.3  abcdef
5  1  11.3  abcdef
6  1  11.3  abcdef
7  1  11.3  abcdef
8  1  11.3  abcdef
9  1  11.3  abcdef

정리)  
1. pandas : 편하긴 하지만, 여러 건을 하면 속도가 많이 느려짐
2. numpy : 빠를 것 같지만, 생각만큼 안 빠름. (숫자 위주로 그렇기 때문)  
3. 생각보다 파이썬의 기본 list 가 빠를 수 있음.  
   : 데이터 수집하는 과정에서 주로 리스트형으로 수집을 한 이유
4. deque가 대안이 될 수 있다.
   + 중간에 너무 무거워지면 중간 중간 저장해서 가벼운 상태로 진행하는 것이 좋다.